<table class="table">
  <tr>
    <td>
      <div class="d-flex justify-content-center">
        <img
          class="img-fluid rounded"
          src="../../../assets/contact-us-customer-support-hotline-600nw-2067737414.webp"
          alt="Contact Image"
        />
      </div>
    </td>
    <td>
      <div>
        <div class="mb-3">
          <label for="sendername" class="form-label">Name :</label>
          <input type="text" class="form-control" id="sendername" />
        </div>
        <div class="mb-3">
          <label for="replyto" class="form-label">Email :</label>
          <input type="email" class="form-control" id="replyto" />
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message Text :</label>
          <textarea class="form-control" id="message"></textarea>
        </div>
        <button class="btn btn-danger px-3 py-2" id="sub">Send</button>
      </div>
    </td>
  </tr>
</table>
