<table>
  <th>
    <tr>
      <td>
        <h5 class="m-2 bg-warning-subtle p-4 rounded-5">
          Welcome to Furni Website, your premier destination for exquisite
          furniture and home decor solutions. At Furni Website, we understand
          that furniture isn't just about functionality; it's about creating
          spaces that reflect your unique style and personality. Step into a
          world of timeless elegance and contemporary design as you explore our
          curated collection of furniture pieces. From stylish sofas and
          luxurious beds to elegant dining sets and chic accent pieces, we offer
          an extensive range of options to suit every taste and preference. With
          a focus on quality craftsmanship and exceptional design, each piece in
          our collection is carefully selected to elevate your living spaces and
          inspire creativity. Whether you're furnishing a cozy apartment, a
          spacious family home, or a stylish office space, we have the perfect
          solution to meet your needs.
        </h5>
      </td>
      <td class="par-img">
        <img
          id="image"
          src="https://i.pinimg.com/564x/45/d4/6a/45d46aeb46abd6cad7298b2b202596f8.jpg"
          style="height: 500px"
        />
      </td>
    </tr>
  </th>

  <td></td>
</table>
